main {
  border: 1px solid black;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}
main .hero-container {
  border: 1px solid black;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-container .left {
  width: 50%;
  padding: 0 50px;
}
.hero-container .left .title {
  font-size: 4rem;
  margin-bottom: 30px;
}
.hero-container .left .description {
  font-size: 1.4rem;
  line-height: 2.5rem;
}
.hero-container .left .features {
  display: flex;
  align-items: center;
  margin: 30px 0;
  border: 1px solid rgb(190, 186, 186);
  color: rgb(122, 119, 119);
  height: 34px;
  width: fit-content;
  border-radius: 8px;
  overflow: hidden;
}
.hero-container .left .features div {
  /* border: 1px solid; */
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.hero-container .left .features .android-icon {
  border-inline: 1px solid rgb(190, 186, 186);
}
.hero-container .left .features .stars {
  padding: 0 2px;
}
.hero-container .left .features .stars i {
  font-size: 0.6rem;
}
.hero-container .left .features .reviews {
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero-container .left button {
  padding: 18px 18px;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 12px;
  background-color: #cf3520;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 5px 0 0 #cf35208c;
}
.hero-container .left button:hover {
  transform: translateY(2px);
  box-shadow: 0 3px 0 0 #cf35208c;
}
.hero-container .right {
  /* border: 1px solid black; */
  margin-top: 70px;
  background: url("../assets/images/hero-section-showcase-bg.avif") no-repeat
    center center / cover;
  width: 60%;
  height: 400px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 0 2px 0 rgb(145, 143, 143);
}
.hero-container .right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Customer Section Start */
.customer-section {
  border: 1px solid black;
  height: 40vh;
  width: 100vw;
  background: url("../assets/images/second-section-bg.avif") no-repeat center
    center / cover;
}
.customer-section .container {
    height: 100%;
}
.customer-section .container .quotes {
    margin: 0 auto;
  border: 1px solid black;
  width: fit-content;
  height: 100%;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}
.customer-section .container .quotes div{
    border: 1px solid black;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* gap: 50px; */
    /* padding: 0 20px; */
}
.customer-section .container .quotes div blockquote{
    font-size: 1.8rem;
    text-align:center;
    /* padding: 20px 0; */
}
.customer-section .container .quotes div img{
    width: 130px;
    display: flex;
}
.customer-section .container .quotes div img.pc-image{
    width: 50px;
}
/* Customer Section End */
